#backlinks {
  position: relative;

  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    max-height: 27vh;

    & > li {
      & > a {
        background-color: transparent;
      }
    }
  }
}
