@use "./base.scss";
@use "./variables.scss" as *;

img {
  margin: 0;
}

.page {
  // 페이지 메인 내용 부분
  & article {
    & .list-content-line-break:not(:first-child) {
      margin: revert;
    }
    & li {
      margin-top: $listMargin;
      margin-bottom: $listMargin;
    }
  }
}

// github 코멘트 (giscus) 스타일 설정
.giscus {
  margin-bottom: 1rem;
}
