pre {
  background-color: var(--shiki-light-bg);

  & > code {
    color: var(--shiki-light);
  }

  & span {
    color: var(--shiki-light);
  }
}

[saved-theme="dark"] pre {
  background-color: var(--shiki-dark-bg);

  & > code {
    color: var(--shiki-dark);
  }

  & span {
    color: var(--shiki-dark);
  }
}
